window {
  background-image: url("/usr/share/nwg-hello/nothing-blur.png"); 
  background-size: 100% 100%;
}

#form-wrapper {
  margin: 0 48.1em;
}

entry {
  color: rgba(242, 243, 244, 1);
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 32px;
  background-color: #2F3035;
  padding: 11px 24px;
  margin: 0 0 8px;
  font-size: 20px;
  font-family: Inter;
  font-weight: 300;
}

button {
  background: none;
  color: rgba(242, 243, 244, 1);
  border: none;
  border-radius: 32px;
  background-color: #2F3035;
  font-size: 20px;
  font-weight: 300;
  font-family: Inter;
  box-shadow: none;
  text-shadow: none;
  padding: 14px 22px 14px 22px;
  margin: 0 0 -30px 0;
}

button:hover {
  background-color: #2A2B2F;
}

button:active {
  background-color: rgba(255, 255, 255, 0.33);
}

checkbutton {
  margin: 4px 0 0;
  outline: none;
  font-size: 18px;
  font-family: Inter;
  font-weight: 300;
}

checkbutton label {
  padding: 1px 0 0 2px;
}

checkbutton check {
  transition: none;
  padding: 0;
  margin: 0 10px 0 2px;
  background: #333439;
  color: #D71A21;
  border-top: 8px solid #333439;
  border-left: 8px solid #333439;
  border-right: 7.5px solid #333439;
  border-bottom: 7.5px solid #333439;
  font-size: 20px;
  border-radius: 32px;
}

checkbutton check:active {
  box-shadow: none;
}

checkbutton check:checked {
  background: #D71A21;
}

#power-button {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  background: none;
  border: none;
  margin: 8.5em 0 0;
}

#power-button image {
  margin: 0 0 10px;
}

#power-button:hover {
  background-color: rgba(255, 255, 255, 0.1)
}

#power-button:active {
  background-color: rgba(255, 255, 255, 0.2)
}

#welcome-label {
  opacity: 0;
}

#clock-label {
  margin: 1em 0 0.1em;
  font-size: 6em;
  font-family: 'NType 82';
  color: rgba(242, 243, 244, 0.75);
}

#date-label {
  font-size: 1.5em;
  font-family: 'NType 82';
}

#form-label {
  margin: 2px 0 2px;
  opacity: 0;
}

#form-combo {
}

#password-entry {
}

#login-button {
 padding: 18px 0;
 background-color: #D71A21;
}
