#waybar {
  background-color: transparent;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

.modules-right,
.modules-center,
.modules-left {
  margin: 0.8em 0 0 0;
  border-radius: 2em;
  background-color: rgba(0, 43, 51, 0.85);
}

.modules-right {
  margin: 0.8em 0.8em 0 0;
  padding: 0 0.8em 0 0;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

#workspaces {
  border-radius: 5em;
}

#workspaces button {
  border-radius: 5em;
  background-color: transparent;
}

#workspaces button.active {
  background-color: rgba(0, 0, 0, 0.275);
}

#workspaces button:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

#clock {
  padding: 0 0.6em 0 0.8em;
}

#battery {
  padding: 0 1em;
}

#network {
  padding: 0 0.4em 0 0.5em;
}

#cpu {
  padding: 0 0.4em 0 0.3em;
}

#pulseaudio {
  padding: 0 0.3em 0 0.8em;
}

#memory {
  padding: 0 0.35em 0 0;
}

#tray {
  padding: 0 0.2em 0 0.3em;
}

#tray.nm {
  padding: 0 0.6em 0 0;
}

#language {
  padding: 0 0 0 1em;
}

#custom-notifications small {
  padding: 0 40px;
}