:root {
  --control-center-bg: rgba(20, 20, 22, 0.8);
  --control-center-notification-bg: rgba(47, 48, 53, 1);
  --control-center-notification-bg-hover: rgba(47, 48, 53, 1);
  --control-center-notification-border: rgba(255, 255, 255, 0.15);
  --control-center-notification-border-hover: rgba(255, 255, 255, 0.15);

  --notification-bg: rgba(47, 48, 53, 1);
  --notification-bg-hover: rgba(47, 48, 53, 1);
  --notification-border: rgba(255, 255, 255, 0.15);
  --notification-border-hover: rgba(255, 255, 255, 0.15);

  --notification-close-button: rgba(67, 68, 73, 1);
  --notification-close-button-hover: rgba(78, 79, 83, 1);

  --button: rgba(47, 48, 53, 1);
  --button-hover: rgba(47, 48, 53, 1);
  --button-secondary: rgb(255, 255, 255);
  --button-secondary-hover: rgba(255, 255, 255, 0.9);

  --text: rgb(255, 255, 255);
  --text-secondary: rgba(47, 48, 53, 1);
  --text-disabled: rgb(150, 150, 150);
}

* {
  outline: none;
  font-size: 14px;
  font-family: 'Inter';
  transition: none;
}

/* Buttons widget */
.widget-buttons-grid {
  margin: 0 0 8px;
  padding: 0 8px;
  border-radius: 12px;
  background: transparent;
}

.widget-buttons-grid > flowbox > flowboxchild {
  margin: 0;
  padding: 0 4px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  min-width: 66px;
  min-height: 66px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 66px;
  background: var(--button);
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  border: none;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 18px;
  font-family: 'Font Awesome 7 Free';
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
  /* style given to the active toggle button */
  background: rgba(215, 26, 33, 1);
}

/* Volume, Brightness */
.widget-volume,
.widget-backlight {
  border-radius: 12px;
  background: transparent;
}

.widget-volume {
  margin: 9px 8px 0;
  padding: 8px 12px 8px 14px;
}

.widget-backlight {
  margin: -12px 8px 18px;
  padding: 8px 12px 8px 14px;
}

.widget-volume label {
  font-size: 18px;
  font-family: 'Font Awesome 7 Free';
}

.widget-backlight label {
  margin: 0 4px 0 -3px;
  font-size: 24px;
}

.widget-volume > box > button,
.widget-backlight > box > button {
  border: none;
  background: transparent;
}

.widget-volume scale,
.widget-backlight scale {
  padding-right: 0;
  padding-left: 30px;
}

.widget-volume scale trough,
.widget-backlight scale trough {
  margin-left: -24px;
  padding-left: 24px;
  background: #333439;
}

.widget-volume scale highlight,
.widget-backlight scale highlight {
  min-height: 24px;
  margin-left: -24px;
  background: #FFFFFF;
}

.widget-volume scale slider,
.widget-volume scale:hover trough slider,
.widget-backlight scale slider,
.widget-backlight scale:hover trough slider  {
  opacity: 0;
  background: transparent;
  box-shadow: none;
}

.per-app-volume {
  margin: 0px 8px 8px 8px;
  padding: 4px 8px 8px 8px;
  border-radius: 12px;
  background: var(--notification-bg);
}

/* DND widget */
.widget-dnd {
  margin: 14px 8px 0;
  padding: 0 12px;
  color: var(--text);
}

.widget-dnd > label {
  padding: 3px 0 0;
  font-size: 21px;
  font-family: 'NType 82';
  letter-spacing: 1px;
}

.widget-dnd > switch {
  padding: 0;
  border: 1px solid #909098;
  border-radius: 24px;
  font-size: initial;
  background: #333439;
  box-shadow: none;
  transition: 0.2s;
}

.widget-dnd > switch:checked {
  border: 1px solid #142E5F;
  background: #B0C6FF;
}

.widget-dnd > switch:checked slider {
  background: #142E5F;
}

.widget-dnd > switch slider {
  margin: 4px;
  padding: 2px;
  border-radius: 24px;
  background: #909098;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.375);
  transition: 0.2s;
}

/* Title widget */
.widget-title {
  margin: 26px 6px 2px 8px;
  padding: 0 12px 0 12px;
  color: var(--text);
}

.widget-title > label {
  padding: 2px 0 0;
  font-size: 21px;
  font-family: 'NType 82';
  letter-spacing: 1px;
}

.widget-title > button {
  padding: 6px 16px;
  border: none;
  border-radius: 24px;
  color: var(--text-secondary);
  font-size: initial;
  text-shadow: none;
  background: var(--button-secondary);
  box-shadow: none;
  transition: 0.2s;
}

.widget-title > button label {
  font-family: 'Inter';
}

.widget-title > button:hover {
  background: var(--button-secondary-hover);
}

.widget-title > button:disabled {
  opacity: 0.7;
}

.control-center {
  padding: 16px 0 0;
  border: 1px solid var(--control-center-notification-border-hover);
  border-radius: 12px;
  color: var(--text);
  background: var(--control-center-bg);
  box-shadow: 0 6px 12px 0px rgba(0, 0, 0, 0.75);
}

.control-center .control-center-list-placeholder {
  /* The placeholder when there are no notifications */
  opacity: 0.5;
  margin: -180px 0 10px;
}

.control-center .control-center-list-placeholder label {
  font-size: 18px;
  font-family: 'NType 82';
  letter-spacing: 1px;
}

.control-center .notification-row {
  padding: 0 1px;
  background: transparent;
}

.control-center .notification-row .notification-background {
  padding: 18px 26px;
}

.control-center .notification-row .notification-background .notification {
  /* Notification in control center */
  margin: 0;
  padding: 0;
  border: none;
  background: var(--control-center-notification-bg);
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.5);
}
